/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* PRACTICA */

body {
  font-family: "Inter", sans-serif;
  color: #7d7d7d;
  font-size: 18px;
}
h2,
h3 {
  color: #37393f;
  font-family: "Poppins", sans-serif;
}

.all__cards {
  max-width: 100%;
  padding: 50px 15px;
  margin: 0 auto;
  font-size: 0;
  background: url(../img/repeat.jpg);
  text-align: center;
  margin-bottom: 150px;
}
.all__cards > *:last-child {
  margin-bottom: 0;
}
.title {
  font-size: 70px;
  font-family: "Cantarell", sans-serif;
  color: white;
  margin-bottom: 50px;
}
.cards-third {
  margin-bottom: 50px;
}
.cards-sixth {
  margin-bottom: 50px;
}

.card {
  display: inline-block;
  width: 100%;
  max-width: 412px;
}
.picture {
  min-height: 501px;
  max-width: 100%;
}

.card__title {
  line-height: 1.2;
  font-size: 24px;
  color: rgba(65, 231, 56, 0.93);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.card__title:hover {
  text-decoration: underline;
}
.card__button {
  border-radius: 8px;
  padding: 12px 44px;
  background-color: #d61a1aef;
  font-weight: 600;
  font-size: 18px;
  color: #16dede;
  display: inline-block;
  font-family: "Oxygen", sans-serif;
}
.card__button:active {
  color: rgb(238, 238, 241);
}
/*a:visited {
  color: rgba(172, 255, 47, 0.934);
}*/
.card__button:focus {
  outline: 2px solid rgba(243, 239, 239, 0.938);
}
.card__button:hover {
  background-color: #abaece;
}
.card__button:active {
  background-color: #1f4505;
}
.card-first .picture {
  background: url(../img/last_of_us.jpg) center/ cover no-repeat;
  margin-right: 25px;
}
.card-second .picture {
  background: url(../img/quantum.jpg) center/ cover no-repeat;
  margin-right: 25px;
}
.card-third .picture {
  background: url(../img/spell_forse.jpg) center/ cover no-repeat;
}
.card-fourth .picture {
  background: url(../img/survuvor.jpg) center/ cover no-repeat;
  margin-right: 25px;
}
.card-fifth .picture {
  background: url(../img/texas_chain_saw.jpg) center/ cover no-repeat;
  margin-right: 25px;
}
.card-sixth .picture {
  background: url(../img/walking_dead.jpg) center/ cover no-repeat;
}
.card__inner:hover {
  text-decoration: underline;
  color: rgba(65, 231, 56, 0.93);
}

/* PRACTICA THE END*/
/* PRACTICA THE END*/
/* PRACTICA THE END*/
/* PRACTICA THE END*/

/* jewellery collection */
/* jewellery collection */
/* jewellery collection */
/* jewellery collection */
/* jewellery collection */
/* jewellery collection */
.general {
  margin-bottom: 150px;
}
.general__low {
  max-width: 1245px;
  padding: 0px 15px;
  margin: 0 auto;
}
.general__lower > *:last-child {
  margin-right: 0;
}
.general__lower {
  font-size: 0;
}
.general__lower h2,
.general__lower h4,
.general__lower h3,
.figma-title-price {
  font-weight: 700;
  color: #000;
  font-family: "Cormorant Infant", serif;
}
/*Перед H2*/
.figma-card__title {
  padding-top: 118px;
  margin-right: 24px;
  vertical-align: middle;
  max-width: 460px;
  display: inline-block;
}
/*Заголовок 1*/
.title-jew-first {
  font-size: 60px;
  font-style: normal;
  line-height: 1.15; /* 69px */
  text-transform: capitalize;
  max-width: 488px;
}
/*Полоса*/
.title-jew-first::after {
  background-color: #78473b;
  content: "";
  width: 66%;
  height: 3px;
  display: block;
  margin-top: 13px;
}
/*Заголовок 2*/

.title-jew-second {
  font-size: 46px;
  font-style: normal;
  line-height: 1.13; /* 51.98px */
}

.figma-card {
  display: inline-block;
  margin-right: 55px;
  vertical-align: top;
  max-width: 334px;
}

.figma-card-img {
  border: 1px solid #000;
  margin-bottom: 34px;
}
.figma-card-img img {
  margin: 9px -10px -9px 10px;
  width: 100%;
}
.figma-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 33.6px */
}

/*riska*/
.figma-title:hover {
  text-decoration: underline;
}
.figma-title-link {
  margin-bottom: 4px;
}
.figma-card-subtitle {
  font-size: 46px;
  font-style: normal;
  line-height: 1.13; /* 33.6px */
  margin: -32px 0 31px;
}

.figma-title-price {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 33.6px */
}

/*След макет*/
/*След макет*/
/*След макет*/
/*След макет*/
/*След макет*/
/*------We Care About Your Business Plan-----*/
/*------We Care About Your Business Plan-----*/
/*------We Care About Your Business Plan-----*/
/*------We Care About Your Business Plan-----*/
.care-all {
  margin-bottom: 150px;
}
.cont-care {
  max-width: 705px;
  padding: 0px 15px;
  margin: 0 auto;
}
.cont-care > *:not(:last-child) {
  margin-bottom: 48px;
}
/*Общий стиль текста*/

.title-care h4 {
  font-weight: 500;
  margin-bottom: 16px;
}

.deco-squrd::before {
  background-color: #40ddb6;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  content: "";
  display: inline-block;
  margin-right: 6px;
}
.title-care h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21; /* 48.4px */
  margin-bottom: 10px;
  text-transform: capitalize;
  max-width: 415px;
}

.text-care {
  line-height: 1.46; /* 26.314px */
}
.text-care p:not(:last-child) {
  margin-bottom: 16px;
}

/*.first-p {
  margin-bottom: 16px;
}*/

.body-care > *:not(:last-child) {
  margin-bottom: 31px;
}

.care-cont {
  border: 1px solid #e3e3e3;
  max-width: 675px;
  padding: 28px 41px 28px 84px;
}
.cadr-care h3 {
  font-size: 20px;
  font-weight: 600;
}
.cadr-care h3::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-left: -48px;
  margin-right: 19px;
  vertical-align: -6px;
  background: url("../img/li.svg") 0px 0px no-repeat;
}
.link-care-all {
  background-color: #6b77e5;
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;
  padding: 21px 35px 22px 35px;
  display: inline-block;
}

.link-care-all:hover {
  background-color: #979cdbf7;
}

.link-care-all:active {
  background-color: rgba(139, 48, 195, 0.971);
}

/*------International Business Management Consulting-----*/
/*------International Business Management Consulting-----*/
/*------International Business Management Consulting-----*/
/*------International Business Management Consulting-----*/
/*------International Business Management Consulting-----*/
.management-maket {
  margin-bottom: 0;
}
.management-maket {
  margin-bottom: 150px;
}
.management-cont {
  margin: 0 auto;
  max-width: 722px;
  padding: 0 15px;
}
.management-sub-cont {
  margin-bottom: 42px;
}

.management-img {
  margin-bottom: 37px;
  /*width: 100%;*/
}
.management-img img {
  width: 100%;
}
.management-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.27; /* 38.1px */
  margin-bottom: 12px;
  text-transform: capitalize;
}
.management-text {
  line-height: 1.46; /* 26.314px */
}

.management-collaboration {
  margin-bottom: 50px;
}

.collaboration-sub-cont {
  font-size: 0;
}
.collaboration-header {
  margin-bottom: 40px;
}
.collaboration-title {
  color: #6b77e5;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27; /* 25.4px */
  font-family: "Poppins", sans-serif;
}
.collaboration-text {
  line-height: 1.46; /* 26.314px */
}

.collaboration-img {
  width: 47.8%;
  margin-right: 29px;
}
.collaboration-sidebar {
  display: inline-block;
  max-width: 332px;
  vertical-align: top;
  font-size: 0;
}

.sidebar-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.27; /* 31.75px */
  margin-bottom: 15px;
}
.sidebar-sub-title {
  color: #40ddb6;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27; /* 25.4px */
  margin-bottom: 23.5px;
  font-family: "Poppins", sans-serif;
}
.sidebar-item {
  font-size: 18px;
}
.menu__item {
  min-height: 27px;
  padding-top: 5px;
  padding-left: 35px;
  background: url("../img/li.svg") no-repeat;
}
.sidebar-item li:hover {
  background-color: #b9efe2ee;
}
.sidebar-item li:active {
  background-color: #0c8265ee;
  color: rgba(255, 255, 255, 0.932);
}

.menu__item:hover {
  text-decoration: underline;
  display: inline-block;
}
.sidebar-item li:not(:last-child) {
  margin-bottom: 30px;
}

.collaboration-asced h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.27; /* 38.1px */
  margin-bottom: 8px;
}
.collaboration-text {
  line-height: 1.46; /* 26.314px */
}

/*------How We Work-----*/
/*------How We Work-----*/
/*------How We Work-----*/
/*------How We Work-----*/
/*------How We Work-----*/

.how-work {
  margin: 0 auto;
  padding: 0 15px 50px 15px;
  max-width: 1250px;
}
.how-work-head-title {
  max-width: 906px;
}
.how-work-head-title h4::before {
  background: #40ddb6;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  display: inline-block;
  content: "";
  margin-right: 6px;
}
.how-work-head-title h4 {
  font-weight: 500;
  line-height: 1.21;
  margin-bottom: 16px;
  text-align: center;
  color: #37393f;
}
.how-work-head-title h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21; /* 48.4px */
}
.how-work-text {
  text-align: center;
  line-height: 1.46; /* 26.314px */
  display: inline-block;
}
.how-work-head-title > *:last-child {
  margin-bottom: 0;
}
.how-work-head-title {
  margin: 0 auto 41px;
  text-align: center;
}
.how-work-cards {
  font-size: 0;
  padding-top: 36px;
}
.how-work-cards > *:not(:last-child) {
  margin-right: 31px;
}
.how-work-cards h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.27; /* 31.75px */
  margin-bottom: 16px;
}
.how-work-card {
  background-color: #f4f4f4;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 58px 43px;
  width: 386px;
}
.how-work-card > *:last-child {
  margin-bottom: 0;
}

.how-work-img {
  margin: -94px auto 22px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #40ddb6;
  overflow: hidden;
}
.how-work-img:hover {
  background-color: #b9efe2ee;
}
.how-work-img:active {
  background-color: #0c8265ee;
}
.pazle {
  background-color: #6b77e5;
}
.pazle:hover {
  background-color: #a8aff0;
}
.pazle:active {
  background-color: #394ae5;
}

.how-work-text {
  text-align: center;
  font-size: 18px;
  max-width: 300px;
  line-height: 1.46;
  margin-bottom: 37px;
}
.how-work-link {
  color: #6b77e5;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}
.how-work-link:hover {
  text-decoration: underline;
}
.how-work-link:hover {
  background-color: #b9efe2ee;
}
.how-work-link:active {
  background-color: #0c8265ee;
  color: rgba(251, 249, 249, 0.969);
}

/* Game */
.game-conteiner {
  max-width: 1110px;
  text-align: center;
  font-size: 0;
  margin: 0 auto;
  padding: 50px 15px;
}
.game-conteiner__title {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
}
.game {
  min-height: 700px;
  display: block;
}
.line {
  background-color: rgba(201, 22, 214, 0.917);
}
.line-start {
  width: 40px;
  height: 30px;
}
.line-1 {
  width: 19%;
  height: 40px;
  visibility: hidden;
}
.line-2 {
  width: 20px;
  height: 190px;
  display: inline-block;
  visibility: hidden;
}
.line-start:hover ~ .line-1,
.line-1:hover {
  visibility: visible;
}
.line-1:hover ~ .line-2 {
  visibility: visible;
}
.line-3 {
  visibility: hidden;
  width: 40%;
  height: 20px;
  display: inline-block;
}
.line-1:hover ~ .line-2,
.line-2:hover {
  visibility: visible;
}

.line-4 {
  visibility: hidden;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.line-2:hover ~ .line-3,
.line-3:hover {
  visibility: visible;
}
.line-3:hover ~ .line-4 {
  visibility: visible;
}

.line-5 {
  width: 20px;
  height: 90px;
  display: inline-block;
  visibility: hidden;
}
.line-3:hover ~ .line-4,
.line-4:hover {
  visibility: visible;
}
.line-4:hover ~ .line-5 {
  visibility: visible;
}
.line-6 {
  width: 200px;
  height: 50px;
  display: inline-block;
  visibility: hidden;
  padding-top: 90px;
}
.line-4:hover ~ .line-5,
.line-5:hover {
  visibility: visible;
}
.line-5:hover ~ .line-6 {
  visibility: visible;
}

.line-7 {
  width: 20px;
  height: 20px;
  display: inline-block;
  visibility: hidden;
  background-color: #1f4505;
}
.line-5:hover ~ .line-6,
.line-6:hover ~ .line-7,
.line-6:hover,
.line-7:hover {
  visibility: visible;
}
.line-6:hover ~ .line-7 {
  visibility: visible;
}

.game__image {
  visibility: hidden;
  margin: auto;
  max-width: 800px;
  margin-bottom: 30px;
  vertical-align: middle;
}
.game-text {
  visibility: hidden;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
}
.line-7:hover ~ .game__image,
.line-7:hover ~ .game-text {
  visibility: visible;
}
