//Шрифти за замовченням
$fontFamilyMain: "Causten";
$fontFamilyLabel: "Core Sans C", sans-serif;
//Розмір шрифту
$fontSizeMain: 18px;
//Колір
$mainColor: #3c4242;
$secondColor: #81818b;
$textColor: #807d7e;
$labelColorHell: #fff;
$hellColor: #fff;
$bgColor: #8a33fd;
$bgSecondColor: #3d96f4;
// Colors
/*$mainColor: #3c4242;
$secondColor: #807d7e;
$whiteColor: #fff;
$blueColor: #3581c7;
$suggestionsBefore: #0000003a; 
$arrivalFiolet: #8a33fd;*/
// Medias
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
