//Шрифти за замовченням
$fontFamilyMain: "Causten";
$fontFamilyLabel: "Core Sans C", sans-serif;
//Розмір шрифту
$fontSizeMain: 18px;
//Колір
$mainColor: #3c4242;
$textColor: #807d7e;
$labelColorHell: #fff;
